@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
.footerContainer {    
    height: 100% !important ;
    background: #232526 !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footerBackground {
    padding: 10px;
    text-align: center;
}

.footerTitle {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 30px;
    color: aliceblue;
}