.uploadPicContainer {
   /*---------------------------------------------------------------------*/
  width: 100%;
  /*Change this to fit your screen size - NOT RESPONSIVE   */
  height: 92.5%;
  /*Change this to fit your screen size - NOT RESPONSIVE */
  /*------------------------------------------------------------------*/
  border: 2px solid slategray;
  border-radius: 6px 6px 6px 6px;
  overflow: scroll;
  overflow-x: hidden;
  background: #FFEFBA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0px 0px 10px 5px #000000;
  -moz-box-shadow: 0px 0px 10px 5px #000000;
  box-shadow: 0px 0px 10px 5px #000000;
  }



  .drop_zone {
    border: 3px solid black;
    border-radius: 7%;
    width:  35%;
    height: 200px;
    -webkit-box-shadow:0px 0px 10px 5px #000000 ;
    -moz-box-shadow:0px 0px 10px 5px #000000 ;
    box-shadow:0px 0px 10px 5px #000000 ;
    outline: none;
  }

  .inputError{
    -webkit-animation:alert 2s linear 0s 1 normal;
    -moz-animation:alert 2s linear 0s 1 normal;
    -ms-animation:alert 2s linear 0s 1 normal;
    animation:alert 2s linear 0s 1 normal;
    }
    
    @-webkit-keyframes alert {
    0%{ -webkit-transform: translateX(0); transform: translateX(0); }
    5%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    10%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    15%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    20%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    25%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    30%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    35%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    40%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    45%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    50%{ -webkit-transform: translateX(0); transform: translateX(0); }
    }
    
    @keyframes alert {
    0%{ -ms-transform: translateX(0); transform: translateX(0); }
    5%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    10%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    15%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    20%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    25%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    30%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    35%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    40%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    45%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    50%{ -ms-transform: translateX(0); transform: translateX(0); }
    }

  .pictureStyle{
      height: 35%;
      width: 35%;
      border: 2px solid black;
  }
  
  .pictureStyle:hover{
    -webkit-animation:zoom-in-out 1s linear 0s infinite normal;
    -moz-animation:zoom-in-out 1s linear 0s infinite normal;
    -ms-animation:zoom-in-out 1s linear 0s infinite normal;
    animation:zoom-in-out 1s linear 0s infinite normal;
  }

  @-webkit-keyframes zoom-in-out {
    0%{ -webkit-transform: scale(1); transform: scale(1); }
    50%{ -webkit-transform: scale(1.2); transform: scale(1.2); }
    100%{ -webkit-transform: scale(1); transform: scale(1); }
    }
    
    @keyframes zoom-in-out {
    0%{ -ms-transform: scale(1); transform: scale(1); }
    50%{ -ms-transform: scale(1.2); transform: scale(1.2); }
    100%{ -ms-transform: scale(1); transform: scale(1); }
    }

    .errorText {
        color: red;
        font-size: 25px;
      }

    .changeBtn{
        font-size: 20px;
        font-weight: bold;
    }

    .changeBtn:hover{
        color: slateblue;
        cursor: pointer;
    }